.contenedor-p1, .contenedor-p2, .contenedor-p3, .contenedor-p4, .contenedor-p5 {
    display: flex; /* Utiliza un contenedor flexible */
    justify-content: center; /* Centra horizontalmente en el eje X */
    align-items: center; /* Centra verticalmente en el eje Y */
    

  }

  .screen-1, .screen-2, .screen-3, .screen-4, .screen-5{
    text-align: center;
    
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    
  }

  .title-container {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
  }
  .title-container h1{
    font-size: 2em;
    margin-bottom: 20px;
  } 
  .title-container h2{
    margin-bottom: 15px;
  }
  

  .title-container2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .title-container3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .title-container4 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .title-container5 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }