.contenedor-p1, .contenedor-p2, .contenedor-p3, .contenedor-p4, .contenedor-p5, .contenedor-p6 {
    display: flex; /* Utiliza un contenedor flexible */
    justify-content: center; /* Centra horizontalmente en el eje X */
    align-items: center; /* Centra verticalmente en el eje Y */
    

  }

  .screen-1, .screen-2, .screen-3, .screen-4, .screen-5, .screen-6{
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23); /*efecto de sombra en tarjetas*/
    border-radius: 20px; /*borde redondeado en tarjetas*/
    transition: 0.5s ease; /*transición en las cards de al pasar el cursor*/
  }

  .screen-1:hover, .screen-2:hover, .screen-3:hover, .screen-4:hover, .screen-5:hover, .screen-6:hover{
    transform: scale(1.1); /* Escala un 10% más grande al pasar el cursor */
  }
  .cards-container {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    
  }

  .cards-container5 {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    /* margin-bottom: 100px; */
    
  }
  .cards-container6 {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 100px;
    
  }

  .title-container {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    
  }
  .title-container h1{
    font-size: 2em;
    margin-bottom: 50px;
  } 
  .title-container h2{
    margin-bottom: 15px;
  }
  

  .title-container2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .title-container3 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .title-container4 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .title-container5 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .title-container6 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
  }