@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Quicksand&display=swap');

@font-face {
    font-family: 'CaviarDreams';
    src: url('/fonts/CaviarDreams.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* quiza se pueda omitir */
.navbar {
    display: flex;
    flex-direction: column;
    }

    
.contenedor-navbar { /*no se que es */
    display: flex;
    flex-direction: column;
    justify-content:end;
    margin: 10px 20px 20px 80px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 100;
    gap: 5px;
}


.contenedor-titulo{ /* contenedor superior color cyan */
    background-color: #A4D8D8;
    width: 100%;
    height: 200px;
    
    
}

.titulo { /*contenedor del nombre y profesion */
    display: flex;
    flex-direction: column;
    justify-content: center;    
   margin-left: 80px;
    margin-bottom: 20px;
    
    
   
}
.titulo h2 { /*alejandro figueroa */
    margin-top: 80px;
    color: #454545;
    font-size: 33px;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
}
.titulo h3{ /*no se que es */
    color: #454545f4;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 15px;

}


.nombre { /*creo que se puede borrar */
    color: #454545;
    font-size: 50px;
    
}

.link-container {
    display: inline-block;
}


.navbar a { /*estilos de los links */
    color: #454545; 
    text-decoration: none; 
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 100;
    transition: color 0.3s ease; 
    cursor:pointer;
    display: inline-block;  
    margin-left: 20px;
   
  }

  
  
 
  .navbar a:hover {
    color: #eb840e; 
    font-weight:500; 
    
  }

  .home-link {
    margin-top: 40px;

}
  
  
  .textAnimated {
    color: #454545;
    font-size: 17px !important;
    font-family: 'CaviarDreams', sans-serif !important;
    letter-spacing: 4px !important;
    font-weight: 500;
    line-height: 15px;
  }

  .desarrollador-web {
    color: yellow;
    font-weight: 300;
  }

