@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Quicksand&display=swap');

/* quiza se pueda omitir */
.navbar {
    display: flex;
    flex-direction: column;
    }

    
.contenedor-navbar {
    display: flex;
    flex-direction: column;
    justify-content:end;
    margin: 10px 20px 20px 80px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 100;
    gap: 5px;
}


.contenedor-titulo{
    background-color: rgba(174, 174, 174, 0.254);
    width: 100%;
    height: 170px;
    
    
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;    
   margin-left: 80px;
    margin-bottom: 20px;
   
}
.titulo h2 {
    margin-top: 80px;
    color: #454545;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
}
.titulo h3{
    color: #454545;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 15px;

}


.nombre {
    color: #454545;
    font-size: 20px;
    
}

.navbar a {
    color: #454545; 
    text-decoration: none; 
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 100;
    transition: color 0.3s ease; 
  }
  
 
  .navbar a:hover {
    color: #eb840e; 
    font-weight: 500; 
    
  }
  
  .textAnimated {
    color: #454545;
    font-size: 17px !important;
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: 4px !important;
    font-weight: 500;
    line-height: 15px;
  }