
.titulo-skills {
    font-size: 30px;
       
}

.contenedor-skills {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.skill-image {
    max-width: 200px; /* Limita el ancho máximo de las imágenes al 100% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
    margin: 10px; /* Agrega un margen entre las imágenes (ajusta según tus preferencias) */
    transition: 0.3s ease;
    transform: scale(1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 30px;
  }

  .skill-image:hover {
    transform: scale(1.1); /* Escala un 10% más grande al pasar el cursor */
  }