@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Quicksand&display=swap');


.contenedor-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.contenedor-about h1{
    font-size: 2em;
    margin-bottom: 10px;
}
.contenedor-about p {
    text-align: center;
    max-width: 70%;
    text-wrap: balance;
    margin-bottom: 50px;
}

.download-button {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .download-button:hover {
    color: #f9dd04;
  }


  