.background-image {
    background-image: url("https://www.freepik.com/free-ai-image/80s-blur-branding-brochure-contemporary-effect-fluid-futuristic-gradient-grain-grunge_42674739.htm#query=cyan%20magenta%20texture&position=15&from_view=search&track=ais"); /* Reemplaza 'URL_DE_TU_IMAGEN' con la URL de tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
}